body{ 
  display: flex; 
  justify-content: center;
  flex-direction: column;
  background-color: #EAD8AC;
  
 }

/* ------- text --------*/

h1{
  display:flex;
  font-family: 'East Sea Dokdo', cursive;
  color: #28140B;
  justify-content: center;
  font-size: 6vw;
  margin: -3vw 0vw 4vw 0;
  
  }

h2{
  display:flex;
  font-size: 2.5vw; 
  font-family: 'Share', cursive;
  color: #fff;
  justify-content: center;
  margin: auto;
  }

h3{
  font-size:2.35vw;
  margin: 10vw 1.5vw 1.5vw 1.5vw;
  font-family: 'Share', cursive;
  color: #353F3E;
  text-align: justify;
  
}

h4{
 display:flex;
  font-size: 2.5vw; 
  font-family: 'Share', cursive;
  color :#4A766E;
  justify-content: center;
  margin: auto;
}

h4:hover{
 color: #c46c4c;  
}

h5{
  display: flex;
  font-size:2.25vw;
  font-family: 'Share', cursive;
  color: #cc0000; 
  text-align: justify;
  margin: 2vw 2vw 0 2vw;
 }

p{
  font-size:2.35vw;
  margin: 3vw 1.5vw 1.5vw 1.5vw;
  font-family: 'Share', cursive;
  color: #353F3E;
  text-align: justify;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

/* -------- main page ------*/

#mainpage{
 display:flex;
 flex-direction: row;
 justify-content: center;
}

.imag > h2{
margin: -43vw 0 0 0;  
text-decoration: none;
}

.imgs {
 display:flex;
 flex-direction: row;
 height: 50vw;
 justify-content: center;
  }

img {
  height: 40vw;
  margin: 5vw 0.5vw 5vw 0.5vw ;
 }

.imag:hover {
  opacity: 50%;
  filter: contrast(150%);
 }

/* ----- other pages general-------*/


.page{
  background-color: #fff;
  height: 40vw;
  width: 52.7vw;
  margin: 10vw 0 5vw 23vw;
 }

.page > h2{
 margin: 20vw 0 0 0;
 font-family: 'East Sea Dokdo', cursive;
 color: #000;
}


/* page 1 */

.red{
 color :#4A766E;
}

.bodtxt1 > h2 {
 margin: 4vw 0 0 0;
 font-size: 7vw;
 font-family: 'East Sea Dokdo', cursive;
 color: #28140B;
}

.pag > p {
  margin: 5vw 1.5vw 1.5vw 1.5vw; 
}

/* page 2*/

#page2 > h2{
 margin: 10vw, 0 0 0;
 color: #000;
}

.text1{
 margin: 10vw, 0 0 0; 
}

.list{
  display: flex;
  justify-content: center;
  flex-direction:column;
  }

.lis{
 margin: 0.5vw 0 0.5vw 0; 
 }

.bodtxt2 > h2 {
margin: 6vw 0 0 0;
font-size: 7vw;
font-family: 'East Sea Dokdo', cursive;
color: #28140B;
}


/*page 3*/

#page3{
margin: 10vw 0 30vw 23vw;  
}

.text > p {
margin: 7vw 1.5vw 1.5vw 1.5vw;
}

#page3 > a:hover, a:visited, a:link, a:active{
    color: #4A766E;
}

a:hover {
  text-decoration: underline;
  color: #c46c4c;
}

.bodtxt3 > h2 {
margin: 6vw 0 0 0;
font-size: 7vw;
font-family: 'East Sea Dokdo', cursive;
color: #28140B;
}

/* ------ credit ------*/

.credit > p {
  display: flex;
  justify-content: flex-end;
}
